body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 1vh;
}

.logo {
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo img {
    width: 12vh;
    height: 5vh;
}

.logo a {
    text-decoration: none;
    color: black;
}

.list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list ul li {
    margin-left: 20px;
}

.login {
    background-color: red;
    border-radius: 10vh;
    width: 8vh;
    height: 3vh;
    text-align: center;
    color: #fff;
}

.signup {
    background-color:#e9e9e9;
    border-radius: 10vh;
    width: 8vh;
    height: 3vh;
    text-align: center;
    color: #000000;
}

.min-content {
    text-align: center;
}

.min-content h1 {
    font-size: 7vh;
    word-spacing: 1.5vh;
}

.min-content h3 {
    font-size: 5vh;
    color: #c28d26;
    word-spacing: 2vh;
    letter-spacing: 1vh;
}

.dots {
    display: flex;
    justify-content: center;
}

.dots .dot {
    width: 1vh;
    height: 1vh;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 7px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    gap: 2vh; 
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2vh; 
}

.image {
    width: 30vh; 
    height: 40vh; 
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.column2 {
    margin-top: 10vh;
}

.column3 {
    margin-top: 20vh;
}

.column4 {
    margin-top: 10vh;
}
.image:hover {
    transform: translateY(-8px); 
}
.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #f6f28e;
    text-align: center;
    padding: 1.5vh ; 
}
.footer a{
    text-decoration: none;
    color: #000000;
}
